version: '3.7'

services:

  redis: 
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
  
  bookmark_service:
    image: bookmark_service:dev
    build: .
    container_name: bookmark_service
    ports:
      - "8080:8080"
    environment:
       - REDIS_ADDR=redis:6379

networks:
  my-network:
    driver: bridge
    name: bookmark_service_network